.b_resume {
    background-color: black;
    color: white;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 8px;
    cursor: pointer;
    margin-right: 50px;
  }
  .b_resume:hover {
    background-color: magenta;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    
  }  

  